@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273c75;
  font-family: 'Lato';
}

h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background: url(image.jpg);
  -webkit-background-clip: text;
  color: transparent;
  animation: textbackground 20s linear infinite;
}

@keyframes textbackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
