@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.fig {
  width: 500px;
  font-family: 'Raleway';
  border-radius: 10px;
  position: relative;
  color: white;
  overflow: hidden;
}

.fig img {
  width: 100%;
}

.fig:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}
.fig:hover:before {
  transform: translateY(0);
  transition-delay: 0;
}

.fig .caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s;
}
.fig:hover .caption {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.fig h3,
.fig h5 {
  margin: 0;
  letter-spacing: 1px;
}

.fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.fig h5 {
  background-color: #ae895d;
  padding: 3px 5px;
}
